@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f0ea;
    color: #798252;
    font-family: "Lora", serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: #331f19;
    color: #92a354;
    text-align: center;
}

main {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color: #331f19;
    font-size: 1.2rem;
}

input [type="radio"], input [type="checkbox"] {
    accent-color: #CCD595;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    width: 50%;
    padding: 0.6rem;
    border: 2px solid #CCD595;
    outline: none;
    border-radius: 5px;
    background-color:  #dfe2cf;
}

input::placeholder{
    color: #CBBBA7;
}

select {
    cursor: pointer;
    background-color: #CCD595;
    color: #331f19;
    border-radius: 5px;
    border: solid #92a354;
    overflow: none;
}

img {
    width: 10rem;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #CCD595;
    color: #331f19;
    padding: 0.5rem;
}

td {
    color: #331f19;
    padding: 0.5rem;
    text-align: center;
}

tfoot td {
    background-color: #331f19;
    color: #f4f0ea;
}

details {
    background-color: #CCD595;
    border-radius: 5px;
    padding: 0.5rem;
}

summary {
    color: #331f19;
    margin: 0.5rem;
    cursor: pointer;
}

ol {
    margin-left: 3rem;
}

ol li {
    padding: 0.2rem;
}

fieldset {
    border: 2px solid #CCD595;
    border-radius: 5px;
    padding: 1rem;
}

legend {
    color: #331f19;
    padding: 0 0.5rem;
}

textarea {
    background-color:  #dfe2cf;
    outline: none;
    border-radius: 5px;
    border: 2px solid #CCD595;
}

textarea {
    padding: 0.5rem;
}

button {
    background-color: #CCD595;
    border: solid #92a354;
    border-radius: 5px;
    padding: 0.5rem;
    color: #331f19;
    cursor: pointer;
}

footer {
    background-color: #331f19;
    padding: 2rem;
    text-align: center;
}

.paragrafo-footer {
    color: #f4f0ea;
}

footer a {
    text-decoration: none;
    color: #92a354;
} 